body {
    font-family: 'Trebuchet MS',sans-serif;
    margin: 0;
    padding: 0;
  }
  *{
      box-sizing: border-box;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #6fb6d0;
    box-shadow: 0px 5px #7fbcd288;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: #FFEEAF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropdownButon {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #FFEEAF;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropdownButon {
    background-color: #FA9494;
    transition: 1s;
  }
  
  .dropdown-icerik {
    display: none;
    position: absolute;
    background-color: #7fbcd288;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-icerik a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-icerik a:hover {
    background-color: #E1FFEE;
  }
  
  .dropdown:hover .dropdown-icerik {
    display: block;
  }